<div class="banner">
  <div class="banner-content">
    <h1>Mythy</h1>
    <p>Discover mythological creatures near you.</p>
    <%= image_tag "logo_transparent.png", height: '50%', width: '50%' %>
    <div class="search-bar">
      <h2> Search by address </h2>
      <%= form_tag(search_creatures_path, method: :get) do %>
      <%= text_field_tag :search, params[:name], placeholder: "Enter an address", class: "form-control", id: "search-creature" %>
      <div class="btn-search">
        <%= submit_tag 'Search' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
      <% @creatures.sample(9).shuffle.each do |creature| %>
        <div class="col-sm-12 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path creature.picture %>');">
            <div class="card-description">
              <h2><%= creature.name %></h2>
            </div>
            <%= link_to "", creature_path(creature), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
