<div class="modal fade" id="newCreatureForm" tabindex="-1" role="dialog" aria-labelledby="newCreatureModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="newCreatureModalLabel">Add a new Creature to Rent!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

          <%= simple_form_for @creature do |f| %>
            <div class="form-group">
              <%= f.input :name, placeholder: 'fluffy', label: 'Creature name' , input_html: { class: 'form-control' }, label_html: { class: "col-form-label" } %>
            </div>
            <div class="form-group">
              <%= f.input :address, placeholder: '3 Edgar Buildings George Street Bath England BA1 2FJ', label: 'Address', input_html: { class: 'form-control' }, label_html: { class: "col-form-label" } %>
              <%= f.input :picture, placeholder: 'https://www.fbhoy.com/wp-content/uploads/2016/03/como-personalizar-url-pagina-facebook.jpg', label: 'Picture (url)', input_html: { class: 'form-control' }, label_html: { class: "col-form-label" } %>
            </div>
            <div class="form-group">
              <%= f.input :price, placeholder: '200', label: 'Price per day', input_html: { class: 'form-control' }, label_html: { class: "col-form-label" } %>
            </div>
            <div class="form-group">
              <%= f.input :description, placeholder: 'A charming dragon who loves to play with fire', label: 'Description', input_html: { class: 'form-control' }, label_html: { class: "col-form-label" } %>
            </div>
            <div class="form-group">
              <%= f.input :care, placeholder: 'He needs to sleep in a nice area and outside of the house', label: 'Caring details', input_html: { class: 'form-control' }, label_html: { class: "col-form-label" } %>
            </div>
            <div class="form-group">
              <%= f.input :diet, placeholder: 'fluffy', label: 'Creature name', input_html: { class: 'form-control' }, label_html: { class: "col-form-label" } %>
            </div>
            <div class="form-group">
              <%= f.button :submit, class: "btn btn-primary", "Create!" %>
            </div>
          <% end %>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create!</button>
      </div>
    </div>
  </div>
</div>
