<%= page_heading "Results for #{params[:search]}" %>

<div class="main-container" style="margin-left: 0px, margin-right: 0px;">
  <div class="container search-cards">
    <div class="row">
      <% i = 0 %>
      <% @results.each do |result| %>
      <% i += 1 %>
        <div class="col-sm-12 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path result.picture %>');">
            <div class="card-category">
              <%= i %>
            </div>
            <div class="card-description">
              <h2><%= result.name %></h2>
            </div>
            <% if result.user.picture.url.nil? %>
              <%= cl_image_tag "https://res.cloudinary.com/robopro/image/upload/v1529505073/avatar.jpg", width: 150, height: 150, crop: :thumb, radius: "max", fetch_format: "png", class: "card-user" %>
            <% else %>
              <%= cl_image_tag result.user.picture, width: 40, height: 40, crop: :thumb, radius: "max", fetch_format: "png", class: "card-user" %>
            <% end %>
            <%= link_to "", creature_path(result), class: "card-link" %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>
