<div class="main-container show-align">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 show-picture">
        <%= cl_image_tag @creature.picture %>
      </div>
      <div class="col-sm-12 show-name">
        <h1><%= @creature.name %></h1>
      </div>
      <div class="col-sm-12 show-icons">
        <%= @creature.wifi %>
      </div>
      <div class="col-sm-12 show-descriptions">
        <h2>Description</h2>
        <p><%= @creature.description %></p>
        <hr>
        <h2>Care</h2>
        <p><%= @creature.care %></p>
        <hr>
        <h2>Diet</h2>
        <p><%= @creature.diet %></p>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newBookingForm" >Book it</button>
<%= render 'bookings/new' %>
