<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 show-picture">
        <%= cl_image_tag @creature.picture %>
      </div>
      <div class="col-sm-12 show-name">
        <%= @creature.name %>
      </div>
      <div class="col-sm-12 show-icons">
        <%= @creature.wifi %>
      </div>
      <div class="col-sm-12 show-descriptions">
        <h1>DESCRIPTION</h1>
        <p><%= @creature.description %></p>
        <hr>
        <h1>CARE</h1>
        <p><%= @creature.care %></p>
        <hr>
        <h1>DIET</h1>
        <p><%= @creature.diet %></p>
      </div>
    </div>
  </div>
  <div class="show-bookings">
    <h1>BOOKINGS</h1>
  </div>
</div>
